* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0b3c5d;
  color: #fff;
}

/* NAVBAR */
.navbar {
  background: #072a40;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-inner {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 18px;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 32vh; /* KÜÇÜLTÜLDÜ */
  background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("images/hero.jpg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-inner {
  text-align: center;
  max-width: 600px;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  color: #ddd;
  margin: 12px 0 20px;
}

/* BUTTON */
.btn {
  background: #ff7a18;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 70px 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* DEVICES */
.devices {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
  gap: 16px;
}

.devices div {
  background: #fff;
  color: #111;
  border-radius: 14px;
  padding: 14px;
  text-align: center;
}

.devices img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* CARD */
.card {
  background: #fff;
  color: #111;
  border-radius: 18px;
  padding: 35px;
  max-width: 700px;
  margin: auto;
}

.card.small iframe {
  height: 750px; /* KÜÇÜLTÜLDÜ */
}

/* REVIEWS */
.reviews {
  background: #072a40;
  padding: 70px 20px;
  text-align: center;
}

/* LOCATION */
.location {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  gap: 30px;
}

.location iframe {
  height: 300px;
  border-radius: 14px;
  border: none;
}

.store img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
}

/* FOOTER */
footer {
  background: #041d2d;
  padding: 20px;
  text-align: center;
  color: #aaa;
}
