*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f4f6f8;
  color:#222;
}

/* HERO */
.hero{
  height:60vh;
  background:url("images/hero.jpg.jpg") center center / cover no-repeat;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(8,20,45,.78);
}

.hero-inner{
  position:relative;
  z-index:2;
  text-align:center;
  color:#fff;
  max-width:800px;
  padding:20px;
}

.hero h1{
  font-size:46px;
  margin-bottom:10px;
}

.hero p{
  font-size:18px;
  margin-bottom:25px;
}

.hero-actions{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-bottom:15px;
}

.btn{
  padding:14px 36px;
  border-radius:40px;
  font-weight:bold;
  text-decoration:none;
}

.btn.primary{
  background:#ff7a18;
  color:#000;
}

.btn.outline{
  border:2px solid #fff;
  color:#fff;
}

.store-info{
  font-size:14px;
  opacity:.9;
}

/* SECTIONS */
.section{
  max-width:1200px;
  margin:auto;
  padding:80px 20px;
}

.section h2{
  text-align:center;
  margin-bottom:10px;
}

.sub{
  text-align:center;
  color:#555;
  margin-bottom:45px;
}

/* SERVICES */
.services{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:25px;
}

.services div{
  background:#fff;
  border-radius:18px;
  padding:14px;
  box-shadow:0 12px 30px rgba(0,0,0,.12);
  text-align:center;
  transition:.3s;
}

.services div:hover{
  transform:translateY(-6px);
}

.services img{
  width:100%;
  height:140px;
  object-fit:cover;
  border-radius:14px;
}

.services span{
  display:block;
  margin-top:10px;
  font-weight:600;
}

/* APPOINTMENT */
.appointment{
  background:#0b1e3a;
  color:#fff;
}

.appointment-box{
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  padding:80px 20px;
}

.appointment p{
  color:#ccc;
}

.form{
  display:grid;
  gap:14px;
}

.form input,
.form textarea,
.form select{
  padding:14px;
  border-radius:12px;
  border:none;
}

.form button{
  background:#ff7a18;
  border:none;
  padding:16px;
  border-radius:40px;
  font-weight:bold;
  cursor:pointer;
}

/* REVIEWS */
.reviews{
  background:#eef1f5;
}

.reviews-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

.reviews img{
  width:100%;
  border-radius:22px;
  box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.form.light input,
.form.light textarea{
  border:1px solid #ccc;
}

/* MAP */
iframe{
  width:100%;
  height:360px;
  border:none;
  border-radius:20px;
}

/* FOOTER */
footer{
  background:#000;
  color:#777;
  text-align:center;
  padding:25px;
}

/* MOBILE */
@media(max-width:900px){
  .appointment-box,
  .reviews-grid{
    grid-template-columns:1fr;
  }

  .hero h1{
    font-size:34px;
  }
}
