*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Arial,Helvetica,sans-serif;
}

body{
  background:#0f1115;
  color:#fff;
}

/* HERO */
.hero{
  min-height:90vh;
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.7)),
    url("../images/hero.jpg.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-content h1{
  font-size:3rem;
}

.hero-content p{
  margin:15px 0 25px;
  font-size:1.2rem;
  color:#ddd;
}

.btn{
  padding:14px 36px;
  background:#ff7a18;
  color:#000;
  border-radius:40px;
  text-decoration:none;
  font-weight:bold;
}

/* SECTIONS */
section{
  max-width:1200px;
  margin:auto;
  padding:70px 20px;
}

h2{
  text-align:center;
  margin-bottom:40px;
  font-size:2.2rem;
}

/* STORE */
.store{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

.store img{
  width:100%;
  border-radius:20px;
}

/* DEVICES */
.devices{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:25px;
}

.devices div{
  background:#1b1e25;
  padding:20px;
  border-radius:20px;
  text-align:center;
}

.devices img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:15px;
  margin-bottom:10px;
}

/* APPOINTMENT */
.appointment-wrap{
  background:linear-gradient(135deg,#ff7a18,#ff9a3c);
  color:#000;
  padding:60px 40px;
  border-radius:30px;
}

.appointment-form{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea{
  padding:15px;
  border:none;
  border-radius:12px;
}

.appointment-form textarea,
.appointment-form button{
  grid-column:1/3;
}

.appointment-form button{
  background:#000;
  color:#fff;
  border:none;
  padding:16px;
  border-radius:40px;
  font-size:1.1rem;
  cursor:pointer;
}

/* REVIEWS */
.review-box{
  background:#1b1e25;
  padding:50px;
  border-radius:30px;
}

.review-box input,
.review-box textarea{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border-radius:12px;
  border:none;
}

.review-box button{
  background:#ff7a18;
  border:none;
  padding:14px 30px;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
}

.google-review{
  margin-top:20px;
  text-align:center;
}

.google-review a{
  color:#ff7a18;
  text-decoration:none;
}

/* FOOTER */
footer{
  background:#000;
  padding:25px;
  text-align:center;
  color:#777;
}
