* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: #fff;
}

/* HERO */
.hero {
  min-height: 85vh;
  background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7)),
    url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.hero.small {
  min-height: 60vh;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: #ff7a18;
}

.hero p {
  margin-top: 15px;
  opacity: .9;
}

.btn {
  margin-top: 30px;
  background: #ff7a18;
  color: #000;
  padding: 14px 36px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
section {
  max-width: 1100px;
  margin: auto;
  padding: 70px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.grid div {
  background: #111827;
  padding: 30px;
  text-align: center;
  border-radius: 16px;
  border-top: 4px solid #ff7a18;
}

/* DEVICES */
.devices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.devices div {
  background: #111827;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.devices img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* IFRAME */
iframe {
  width: 100%;
  height: 600px;
  border: none;
  border-radius: 16px;
}

/* FOOTER */
footer {
  background: #020617;
  text-align: center;
  padding: 30px;
  color: #94a3b8;
}
